body {
  background: linear-gradient(to bottom, #747474 0px, #c0bebe 150px, #c0bebe);
  background-size: cover;
  background-attachment: fixed; /* Делает фон фиксированным */
  margin: 0; /* Убирает отступы по умолчанию */
  padding: 0; /* Убирает внутренние отступы по умолчанию */
  min-height: 100%; /* Устанавливает минимальную высоту body на 100% окна браузера */
  display: flex;
  flex-direction: column;
}

.logo {
  width: 100px; /* Устанавливаем ширину логотипа в 10 пикселей */
  height: 60px; /* Устанавливаем высоту логотипа в 10 пикселей */
  margin-left: 10px; /* Добавляем отступ слева от логотипа */
  margin-right: 20px;
}

html, body {
  height: 100%;
}

