    /* Стили для контейнера с карточками */
    .container {
        background-color: rgb(240, 240, 240);
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 20px;
        margin-top: 40px; /* Добавляем отступ сверху, чтобы контейнер не перекрывал верхнюю полоску */
        min-height: calc(100% - 107px); /* Subtract the header and footer heights */
    }

    body.scrolled header {
        background-color: rgba(17, 155, 5, 1); /* Цвет фона при прокрутке вниз */
    }

    .search-bar {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        margin-bottom: 20px; /* Increase margin-bottom for spacing between search and price inputs */
      }
      
      #search-input{
        width: 300px;
        padding: 10px;
        font-size: 16px;
        border: 1px solid #ddd;
        border-radius: 5px;
        margin-right: 10px;
      }
      
      #price-input{
        width: 70px;
        padding: 10px;
        font-size: 16px;
        border: 1px solid #ddd;
        border-radius: 5px;
        margin-right: 10px;
      }

    #search-button {
        background-color: #a1836d;
        color: #fff;
        padding: 10px 20px;
        font-size: 16px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    #search-button:hover {
        background-color: #8c6c57; /* Изменение цвета кнопки при наведении */
    }  

    /* Стили для карточки */
    .card {
        display: flex; /* Используем Flexbox */
        background-color: rgb(255, 255, 255);
        border: 1px solid #ddd;
        border-radius: 10px;
        margin: 10px;
        max-width: 1150px;
        flex: 1; /* Распределение карточек по ширине */
        overflow: hidden;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        transition: transform 0.2s ease-in-out; /* Анимация увеличения */
    }

    .card:hover {
        transform: scale(1.02); /* Увеличиваем карточку при наведении на неё */
    }

    .card img {
        width: 300px;
        max-width: 100%;
        height: auto;
        flex-shrink: 0; /* Запрещаем картинке уменьшаться при недостатке места */
    }

    .card-body {
        display: flex;
        flex-direction: column; /* Контейнер с текстом и кнопками будет вертикальным */
        flex-grow: 1; /* Растягиваем контейнер с текстом, чтобы занимал доступное пространство */
        padding: 20px;
    }

    .card-title {
        font-size: 1.25rem;
        font-weight: bold;
    }

    .card-text {
        font-size: 1rem;
        color: #555;
    }

    .card-button {
        display: flex;
        flex-direction: column; /* Размещаем кнопки вертикально */
        justify-content: center; /* Выравниваем кнопки по центру по вертикали */
        align-items: center; /* Выравниваем кнопки по центру по горизонтали */
        padding: 15px;
    }

    /* Стили для кнопок */
    .btn {
        width: 100px; /* Фиксированная ширина кнопки */
        height: 20px; /* Фиксированная высота кнопки */
        padding: 10px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 5px;
        cursor: pointer;
        border-radius: 5px;
        justify-content: center; /* Выравниваем текст кнопки по центру по горизонтали */
    }

   /* Для кнопки с классом .btn-primary */
    .btn-primary {
        background-color: #a1836d; /* Более тёмный оттенок кремового цвета */
        color: #fff;
    }

    /* Для кнопки с классом .btn-success */
    .btn-success {
        background-color: #a1836d; /* Более тёмный оттенок кремового цвета */
        color: #fff;
    }

    /* Изменение цвета кнопок при наведении */
    .btn-primary:hover,
    .btn-success:hover {
        background-color: #8c6c57; /* Ещё более тёмный цвет при наведении */
    }

    .close-button {
        position: absolute;
        top: 10px;
        right: 10px; /* Перемещаем кнопку крестика в правый верхний угол */
        background-color: transparent;
        border: none;
        font-size: 20px;
        cursor: pointer;
    }


.card {
    position: relative;
}
    
.close-button:hover {
    color: red; /* Цвет кнопки при наведении */
}


.breadcrumbs {
    font-size: 16px;
    color: #555; /* Text color for breadcrumbs */
    margin-bottom: 20px; /* Add margin at the bottom */
    margin-top: 20px;
  }
  
  .breadcrumb-link {
    color: #555; /* Link color for breadcrumbs */
    text-decoration: none;
    transition: color 0.3s; /* Add transition for link color */
  }
  
  .breadcrumb-link:hover {
    color: #8c6c57; /* Change link color on hover */
  }
  
  .breadcrumb-separator {
    margin: 0 10px; /* Add margin around the separator */
    color: #555; /* Separator color */
  }