.search-input {
    width: 300px;
    background-color: white; /* Белый фон */
    border: 1px solid black; /* Черная окантовка */
    border-radius: 5px; /* Закругленные края */
    margin-left: 35px;
    padding: 8px; /* Внутренний отступ */
    color: black; /* Цвет текста */
  }