.order-text {
    font-size: 60px;
    font-family: 'Segoe UI';
    color: red; /* Добавляем цвет красный */
  }

h1 {
    color: white; /* Белый текст */
    margin: 20px 20px;
    text-shadow: 2px 2px 4px black; /* Черная окантовка с тенью */
    font-family: 'Arial', sans-serif; /* Укажите желаемый шрифт */
}

h2 {
  color: white; /* Белый текст */
  margin: 20px 20px;
  text-shadow: 2px 2px 4px black; /* Черная окантовка с тенью */
  font-family: 'Arial', sans-serif; /* Укажите желаемый шрифт */
  /* Дополнительные стили по вашему выбору */
}

h4 {
  color: black;
  margin: 20px 20px;
  text-shadow: 2px 2px 4px gray; /* Черная окантовка с тенью */
  font-family: 'Arial', sans-serif;
}

ul {
  text-align: center;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  color: rgb(0, 0, 0); /* Белый текст */
  margin: 20px 20px;
  text-shadow: 2px 2px 4px black; /* Черная окантовка с тенью */
  font-family: 'Arial', sans-serif; /* Укажите желаемый шрифт */
  /* Дополнительные стили по вашему выбору */
}

.header-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-status-row {
  display: flex;
  align-items: center;
  gap: 10px;
}