li {
    background-color: #bab8b8; /* Черный фон */
    display: inline-block; /* Делаем блочными элементами */
    padding: 3px; /* Зазор вокруг текста */
    border-radius: 10px; /* Закругленные края */  
    margin-right: 95px;
    margin-bottom: 30px;
    width: 300px; /* Фиксированная ширина */
    height: 390px; /* Фиксированная высота */
  }

li:hover {
  background-color: #747474; /* Change to the color you want on hover */
}

h2 {
  color: white; /* Белый текст */
  margin: 20px 20px;
  text-shadow: 2px 2px 4px black; /* Черная окантовка с тенью */
  font-family: 'Arial', sans-serif; /* Укажите желаемый шрифт */
  /* Дополнительные стили по вашему выбору */
}

h5 {
  color: white; /* Белый текст */
  margin: 20px 20px;
  text-shadow: 2px 2px 4px black; /* Черная окантовка с тенью */
  font-family: 'Arial', sans-serif; /* Укажите желаемый шрифт */
}

img {
  margin: 0 auto; /* Центрируем изображение по горизонтали */
  max-width: 100%;
  height: auto;
  display: block; /* Убирает белую линию вокруг изображений */
  border-radius: 10%; /* Делаем изображения круглыми */
  width: 200px; /* Фиксированный размер для изображений (по вашему выбору) */
  height: 270px; /* Фиксированный размер для изображений (по вашему выбору) */
  border: 0px solid #747474; /* Окантовка цвета кнопки */
}
