/* styles.css */

/* Общие стили */
body {
    font-family: Arial, sans-serif;
  }

  /* Стили для таблицы */
  table {
    border-collapse: collapse;
    margin: 20px 50px
  }
  
  th, td {
    border: 0px solid black;
    padding: 15px;
  }
  
  th {
    background-color: #747474;
    color: white;
    text-shadow: 2px 2px 4px black;
  }
  
  tr:hover {
    background-color: #a3a0a0;
    cursor: pointer;
  }
  
  h3 {
    color: white;
    margin-left: 20px;
    text-shadow: 2px 2px 4px black;
    font-family: 'Arial', sans-serif;
  }
  
  .filter-container {
    display: flex;
    text-align: left;
    margin-left: 0px;
    width: 90%;
  }
  
  .filter-item {
    margin-right: 50px;
    width: auto; /* Используем auto, чтобы ширина адаптировалась к содержимому */
  }
  
  .filter-item input {
    background-color: #a3a0a0;
    border-color: black;
    border-radius: 5px;
    padding: 9px;
    width: 100%; /* Расширяем инпут на всю ширину .filter-item */
    box-sizing: border-box; /* Учитываем padding и border в общей ширине элемента */
    margin-left: 0;
  }