.logo {
    max-height: 100px; /* Set the maximum height for the logo */
    max-width: 70px;
    margin-left: 20px;
  }

h4 {
  color: white;
  margin-left: 20px;
  text-shadow: 2px 2px 4px black; /* Черная окантовка с тенью */
  font-family: 'Arial', sans-serif;
}

.button-image {
  max-height: 80px;
  max-width: 80px;
}