.order-text {
    font-size: 60px;
    font-family: 'Segoe UI';
    color: red; /* Добавляем цвет красный */
  }

h1 {
    color: white; /* Белый текст */
    margin: 20px 20px;
    text-shadow: 2px 2px 4px black; /* Черная окантовка с тенью */
    font-family: 'Arial', sans-serif; /* Укажите желаемый шрифт */
}

h2 {
  color: white; /* Белый текст */
  margin: 20px 20px;
  text-shadow: 2px 2px 4px black; /* Черная окантовка с тенью */
  font-family: 'Arial', sans-serif; /* Укажите желаемый шрифт */
  /* Дополнительные стили по вашему выбору */
}

h4 {
  color: black;
  margin: 20px 20px;
  text-shadow: 2px 2px 4px gray; /* Черная окантовка с тенью */
  font-family: 'Arial', sans-serif;
}

body {
  background: linear-gradient(to bottom, #747474 0px, #c0bebe 150px, #c0bebe);
  background-size: cover;
  background-attachment: fixed; /* Делает фон фиксированным */
  margin: 0; /* Убирает отступы по умолчанию */
  padding: 0; /* Убирает внутренние отступы по умолчанию */
  min-height: 100%; /* Устанавливает минимальную высоту body на 100% окна браузера */
  display: flex;
  flex-direction: column;
}

html {
  height: 100%; /* Задает высоту элемента на 100% высоты окна браузера */
}

.btn-custom {
  background-color: rgb(33, 33, 33); /* Черный фон */
  color: white; /* Белый текст */
  margin: 0px 20px;
  padding: 10px 20px; /* Отступы внутри кнопки */
  border-radius: 10px; /* Закругленные края */
  text-decoration: none; /* Убираем подчеркивание */
  font-weight: bold; /* Жирный текст */
  display: inline-block; /* Размещаем кнопку в одну строку с значком */
}

.search-input {
  width: 300px;
  background-color: white; /* Белый фон */
  border: 1px solid black; /* Черная окантовка */
  border-radius: 5px; /* Закругленные края */
  padding: 8px; /* Внутренний отступ */
  color: black; /* Цвет текста */
}

.search-button {
  background-color: black; /* Черный фон */
  border: none;
  border-radius: 5px; /* Закругленные края */
  padding: 8px 16px; /* Внутренний отступ сверху и снизу, больший отступ слева и справа */
  color: white; /* Белый текст */
  font-weight: bold; /* Жирный текст */
  text-decoration: none; /* Убираем подчеркивание */
  display: inline-block; /* Делаем кнопку строчным элементом, чтобы она была в одном ряду с полем поиска */
  cursor: pointer; /* Изменяем указатель при наведении */
  margin-left: 10px; /* Отступ слева для разделения от поля поиска */
}

ul {
  text-align: center;
}

li {
  display: inline-block;
  margin-right: 30px;
  margin-bottom: 30px;
  background-color: #c0bebe;
  width: 300px; /* Фиксированная ширина */
  height: 500px; /* Фиксированная высота */
}

header {
  position: sticky;
  top: 0;
  background-color: #747474;
  justify-content: space-between; /* Evenly distribute items */
  display: flex;
  align-items: center; /* Align items vertically */
  padding: 10px 20px;
}

header h2 {
  margin-left: 10px; /* Add left margin to create space between logo and text */
}



body {
  margin: 0; /* Убирает отступы по умолчанию */
  padding: 0; /* Убирает внутренние отступы по умолчанию */
  /* Добавьте остальные стили для body */
}




img {
  margin: 0 auto; /* Центрируем изображение по горизонтали */
  max-width: 100%;
  height: auto;
  display: block; /* Убирает белую линию вокруг изображений */
  border-radius: 10%; /* Делает изображения круглыми */
  width: 160px; /* Фиксированный размер для изображений (по вашему выбору) */
  height: 260px; /* Фиксированный размер для изображений (по вашему выбору) */
}
.logo {
  max-height: 100px; /* Set the maximum height for the logo */
  max-width: 70px;
  margin-left: 20px;
}

.img-card {
  max-width: 100%;
  display: block; /* Убирает белую линию вокруг изображений */
  width: 250px; /* Фиксированный размер для изображений (по вашему выбору) */
  height: 380px; /* Фиксированный размер для изображений (по вашему выбору) */
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  color: rgb(0, 0, 0); /* Белый текст */
  margin: 20px 20px;
  text-shadow: 2px 2px 4px black; /* Черная окантовка с тенью */
  font-family: 'Arial', sans-serif; /* Укажите желаемый шрифт */
  /* Дополнительные стили по вашему выбору */
}

.card-table {
  display: table;
  margin-left: 20px;
  margin-right: 30px; /* Добавьте отступ между блоками */
  border-collapse: separate; /* Разделяем границы ячеек */
  border-spacing: 20px; /* Установите отступ между ячейками */
}

.card-cell {
  background-color: #c0bebe;
  display: table-cell;
  text-align: center;
  padding: 10px; /* Добавьте отступ внутри ячейки */
}
